@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Posts</h1>
</div>

@foreach(var item in Model.Posts){
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">@item.Title</h2>
            <p class="card-text">@item.Description</p>
            
            <a class="btn btn-primary" asp-page="/Post" asp-route-id="@item.Id">Read More</a>
        </div>
    </div>
}
